/** PROJECT STYLES **/

/** Variables Palette **/
$color-magenta: #da39ff;
$color-navy: #060c33;
$color-indigo: #192cf8;
$color-blue: #41c2fa;
$color-green: #03a856;
$color-aquamarine-dark: #00ee9c;
$color-aquamarine: #69e2ab;
$color-black: #0000;
$color-gray: #8d8d8d;
$color-gray-text: #d6d6d6;
$color-gray-200: #dee2e6;
$color-white: #fff;
$color-line: #dadbe3;
$bg-color: #f1f1f1;
$bg-color2: #f9f9f9;
$text-color: #3d3d3d;
